openapi: 3.0.4
info:
  title: Workflow API
  description: Enpoint to submit or check the status of workflow RO-Crates and donwload completed workflows as RO-Crates.
  contact:
    email: lena.perzlmaier@senckenberg.de
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  version: 1.0.0
paths:
  /v1/workflows:
    post:
      description: Submit a new workflow RO-Crate for execution.
      summary: Submit a new workflow RO-Crate for execution.
      requestBody:
        description: RO-Crate submission
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                rocratefile:
                  type: string
                  format: binary
                  description: RO-Crate (as .zip file) containing a workflow.yaml file.
              required:
                - rocratefile
              additionalProperties:
                type: string
                description: additional properties named param-key as key value pair overwriting workflow parameters
                example:
                  - param-species: Corvus corax
      parameters:
        - in: query
          name: dry_run
          required: false
          description: If true, checks if valid RO-Crate was submitted, but does not execute workflow.
          schema:
            default: False
            type: boolean
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Valid RO-Crate has been submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workflow_status"

  /v1/workflows/{id}:
    get:
      description: Check workflow execution status.
      summary: Check workflow execution status.
      parameters:
        - in: path
          description: workflow_id
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200": 
          description: Workflow status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workflow_status"
  /v1/workflows/{id}/download:
    get:
      description: Download completed workflow as RO-Crate.
      summary: Download completed workflow as RO-Crate.
      parameters:
        - in: path
          name: id
          description: workflow_id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200": 
          description: Completed workflow as RO-Crate.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: API-Key
  schemas:
    workflow_status:
      type: object
      properties:
        workflow_id:
          type: string
          format: uuid
        status:
          type: string

