openapi: 3.0.4
info:
  title: Workflow API
  description: Endpoint to submit or check the status of workflow RO-Crates and download completed workflows as RO-Crates.
  contact:
    email: lena.perzlmaier@senckenberg.de
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  version: 1.0.0
servers: 
- url: http://127.0.0.1:8000/api
paths:
  /v1/workflows:
    post:
      description: Submit a new workflow RO-Crate for execution.
      summary: Submit a new workflow RO-Crate for execution.
      tags:
      - Workflows
      requestBody:
        description: RO-Crate submission
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                rocratefile:
                  type: string
                  format: binary
                  description: RO-Crate (as .zip file) containing a workflow.yaml file.
                dry_run:
                  type: boolean
                  default: false
                  description: If true, checks if valid RO-Crate was submitted, but does not execute workflow.
                webhook_url:
                  type: string
                  description: If provided, webhook will be triggered once workflow is complete.
              required:
                - rocratefile
              additionalProperties:
                type: string
                description: additional properties named param-key as key value pair overwriting workflow parameters
                example:
                  - param-species: Corvus corax
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Valid RO-Crate has been submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workflow_status"

  /v1/workflows/{id}:
    get:
      description: Check workflow execution status.
      summary: Check workflow execution status.
      tags:
      - Workflows
      parameters:
        - in: path
          description: workflow_id
          name: id
          required: true
          schema:
            type: string
      responses:
        "200": 
          description: Workflow status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workflow_status"
  /v1/workflows/{id}/download:
    get:
      description: Download completed workflow as RO-Crate.
      summary: Download completed workflow as RO-Crate.
      tags:
      - Workflows
      parameters:
        - in: path
          name: id
          description: workflow_id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200": 
          description: Completed workflow as RO-Crate.
          content:
            application/zip:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Api-Key
  schemas:
    workflow_status:
      type: object
      properties:
        workflow_id:
          type: string
        status:
          type: string

