{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block headline %}About This Platform{% endblock %}

{% block content %}
{% load static %}
{% load settings_value %}
<br />

<section class="mb4">
    <h2 class="f5 fw6 mb2">What is this platform for?</h2>
    <p class="lh-copy">
        This platform helps researchers <strong>run computational workflows and share their results</strong> in a way that makes them easy to find, understand, reuse, and reproduce by other scientists.
    </p>
    <p class="lh-copy mt3">
        When researchers run computational analyses (like climate modeling or species distribution predictions),
        it's often difficult to share not just the results, but also <em>how</em> those results were produced. This makes it hard for others to
        verify findings, build upon them, or apply the same methods to new data.
        This platform addresses that challenge by automating the capture and packaging of datasets created by running a FAIR (Findable, Accessible, Interoperable, Reusable) computational workflow.
        Upon running a workflow, the platform automatically records and packages everything needed to understand and reproduce the analysis, including
        input data, parameters, execution details and provenance information.
        The resulting dataset is then made available for download in a standardized format called RO-Crate and discoverable via FAIR Signposting.
    </p>
</section>

<section class="mb4">
    <h2 class="f5 fw6 mb2">Using the Platform</h2>
    <ol class="lh-copy">
        <li class="mb3">
            <strong>Browse Datasets:</strong> Visit the <a href="{% url 'dataset_list' %}" class="link dark-green underline-hover">Datasets</a> page to explore available research datasets.
            Click on any dataset to view detailed metadata, associated files, and workflow provenance information.
        </li>
        <li class="mb3">
            <strong>Submit Workflows:</strong> <a href="{% url 'account_login' %}" class="link dark-green underline-hover">Login with ORCID</a>, then navigate to <a href="{% url 'submit_workflow' %}" class="link dark-green underline-hover">Submit Workflow</a>
            to upload a workflow in RO-Crate format or execute an existing dataset's workflow.
            Monitor workflow status on the <a href="{% url 'list_workflows' %}" class="link dark-green underline-hover">Workflows</a> page.
        </li>
        <li class="mb3">
            <strong>Download Results:</strong> Datasets with workflows are downloadable as RO-Crates containing workflow definitions, input parameters, output data, and execution metadata in a standardized format.
        </li>
    </ol>
</section>

<section class="mb4">
    <h2 class="f5 fw6 mb2">Open Source</h2>
    <p class="lh-copy mt3">
        The source code is available under an open-source license on GitHub:
        <a href="https://github.com/Senckenberg-DCBiodivIT/fair-workflow-platform" target="_blank" class="link dark-green underline-hover">FAIR Workflow Platform</a>.
        For questions, bug reports, or feature requests, please open an issue on the GitHub repository.
    </p>
</section>

<section class="mb4">
    <h2 class="f5 fw6 mb2">References</h2>
    <ul class="lh-copy f6">
        <li>FAIR Workflow Platform. <a href="https://github.com/Senckenberg-DCBiodivIT/fair-workflow-platform" target="_blank" class="link dark-green underline-hover">https://github.com/Senckenberg-DCBiodivIT/fair-workflow-platform</a></li>
        <li>AgroClim: FAIR Workflows for the Crop Wild Relatives Digital Twin. Destination Earth. <a href="https://destination-earth.eu/use-cases/agroclim-fair-workflows-for-the-crop-wild-relatives-digital-twin/" target="_blank" class="link dark-green underline-hover">https://destination-earth.eu/use-cases/agroclim-fair-workflows-for-the-crop-wild-relatives-digital-twin/</a></li>
        <li>Weiland, C., Grieb, J., Bauer, D., et al. (2024). Dataspace Integration for Agrobiodiversity Digital Twins with RO-Crate. Biodiversity Information Science and Standards, 8. <a href="https://doi.org/10.3897/biss.8.134479" target="_blank" class="link dark-green underline-hover">https://doi.org/10.3897/biss.8.134479</a></li>
        <li>Bauer, D., Kusch, E., Weiland, C., et al. (2024). FAIR Dataspace Integration for Agrobiodiversity Digital Twins. Zenodo. <a href="https://doi.org/10.5281/zenodo.13928655" target="_blank" class="link dark-green underline-hover">https://doi.org/10.5281/zenodo.13928655</a></li>
    </ul>
</section>

{% endblock %}
