<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Agroclim: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tachyons.min.css' %}"/>
    {% load settings_value %}
    <link rel="shortcut icon" type="image/png" href="{% favicon %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
    {% block head %}{% endblock %}
</head>
<body class="sans-serif bg-light-gray">
<div class="page-container" style="position: relative; min-height: 100vh">
    <header class="w-100 pa3 ph5-ns bg-dark-green">
        <div class="db dt-ns center w-100">
            <div class="db dtc-ns v-mid tl w-50">
                <a class="white link dim f4-ns f5 fw6 mt0" href="{% url 'dataset_list' %}" title="Home">Agroclim</a>
            </div>
            <div class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
                <a href="{% url 'dataset_list' %}" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Datasets</a>
                <a href="{% url 'list_workflows' %}" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Workflows</a>
                <a href="{% url 'submit_workflow' %}" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Submit workflow</a>
                {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Logout</a>
                {% else %}
                {% load socialaccount %}
                <a href="{% provider_login_url 'orcid' next=request.path %}" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block banner %}
    {% if banner_text %}
    {% include "banner.html" %}
    {% endif %}
    {% endblock %}
    <main class="content-wrap w-100 pa3 pa5-ns pb3 pt3 pt3-ns">
        <h1 class="f4 mb0">{% block headline %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>
    {% load settings_value %}
    <footer class="w-100 pa3 ph5-ns bg-dark-green tr" style="position: absolute; bottom: 0">
        <a href="{% cordra_url %}/" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Object Repository</a>
        <a href="https://github.com/dnlbauer/fair-workflow-platform" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Under the Hood</a>
        <a href="{% url 'imprint' %}" class="f6 fw6 dim link white mr2 mr3-m mr4-l dib">Imprint and Copyright</a>
    </footer>
</div>
</body>
</html>
