{% extends "base.html" %}
{% block title %}Workflows{% endblock %}
{% block headline %}Workflows{% endblock %}

{% load settings_value %}
{% block content %}
<div class="mt2 bg-white shadow-1 pa2">
<table class="workflow-list w-100 center">
    <thead>
        <tr class="stripe-dark">
            <th class="fw6 tl pa1">Name/Internal name</th>
            <th class="fw6 tl pa1">Submitter</th>
            <th class="fw6 tl pa1">Started</th>
            <th class="fw6 tl pa1">Finished</th>
            <th class="fw6 tl pa1">Duration</th>
            <th class="fw6 tl pa1">Status</th>
        </tr>
    </thead>
    <tbody>
    {% for wfl in workflows %}
    <tr class="mt5 stripe-dark pa2">
        <td>{{ wfl.name }}<br /><span class="f7"><a href="{% argo_url %}/{{ wfl.workflow_name }}">{{ wfl.workflow_name }}</a></span></td>
        {% if wfl.submitterName %}
        <td>{{ wfl.submitterName }}<br /><span class="f7"><a href="https://orcid.org/{{ wfl.submitterOrcid }}">{{ wfl.submitterOrcid }}</a></span></td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ wfl.startedAt|date:"d M. Y H:m:s" }} UTC</td>
        {% if wfl.finishedAt %}
        <td>{{ wfl.finishedAt|date:"d M. Y H:m:s" }} UTC</td>
        <td>{{ wfl.startedAt|timesince:wfl.finishedAt }}</td>
        {% else %}
        <td></td>
        <td>{{ wfl.startedAt|timesince }}</td>
        {% endif %}
        <td><span class="{% if wfl.status == 'Succeeded' %}green{% else %}b{% endif %}">{{ wfl.status }}</span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}